<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>root</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <display-name>Domain Checker</display-name>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>root.api</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Servlet</display-name>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>root.login.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout_Servlet</display-name>
    <servlet-name>Logout_Servlet</servlet-name>
    <servlet-class>root.login.Logout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_Servlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard_Servlet</display-name>
    <servlet-name>Dashboard_Servlet</servlet-name>
    <servlet-class>root.login.Dashboard_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard_Servlet</servlet-name>
    <url-pattern>/dash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup_Servlet</display-name>
    <servlet-name>Signup_Servlet</servlet-name>
    <servlet-class>root.login.Signup_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup_Servlet</servlet-name>
    <url-pattern>/signup_service</url-pattern>
  </servlet-mapping>
</web-app>